@import "tailwindcss";

@theme {
  --color-text-hover: white;
  --color-grey: #F0F0FA;
  --primary: #F0F0FA;
  --secondary: black;
  --color-white: white;
  --color-bg-primary: #1a1a1a;
  --color-bg-secondary: black;
}

#root {
  width: 100%;
}

.nav-container {
  position: fixed;
  z-index: 5;
  width: 100%;
  height: 40px;
  top: 0;
}

.footer-container img {
  width: 20px;
  height: 20px;
}

.footer-container p {
  color: var(--color-grey);
}

.top-space {
  height: 40px;
}

.links-container a,
address {
  color: var(--color-grey);
}

.links-container a:hover,
.links-container a:active {
  color: var(--color-text-hover);
}